<app-header (onMenuExpanded) = onMenuExpanded($event)></app-header>

<div class="container-fluid">
  <div class="row">
    <app-menu [expanded] = "menuExpanded"></app-menu>

    <main class="col-md-9 ms-sm-auto col-lg-10 px-md-4">

      <!--Stores-->

      <div class="d-flex justify-content-between flex-wrap flex-md-nowrap align-items-center pt-3 pb-2 mb-3">
        <h2>Stores</h2>
        <div class="btn-toolbar mb-2 mb-md-0">
          <div class="btn-group mr-2">
            <button class="btn btn-sm btn-primary" (click)="NewStore()"><i class="fa fa-plus" aria-hidden="true"></i>
              New</button>
          </div>
        </div>
      </div>

      <div *ngIf="errorObj && errorObj.GlobalMessage" class="alert alert-danger alert-dismissible">
        <a href="#" class="close" data-dismiss="alert" aria-label="close">&times;</a>
        {{errorObj.GlobalMessage}}
      </div>

      <div class="table-responsive">
        <table class="table table-striped table-sm">
          <thead>
            <tr>
              <th>#</th>
              <th>Name</th>
              <th>Created</th>
              <th>Updated</th>
              <th nowrap>Actions</th>
            </tr>
          </thead>
          <tbody *ngIf="stores!.length > 0">
            <tr *ngFor="let store of stores">
              <td>{{store.id}}</td>
              <td>
                <ng-container *ngIf="!store.InEdit">
                  {{store.name}}
                </ng-container>

                <input class="form-control" *ngIf="store.InEdit" name="name" [(ngModel)]="store.name" (keyup.enter)="SaveStore(store)"
                  (keyup.escape)="EditStore(store, false)" />

                <div *ngIf="store.InEdit && errorObj && errorObj.DetailedMessages && errorObj.DetailedMessages['name']"
                  class="alert alert-danger m-0 p-2">
                  {{errorObj.DetailedMessages['name']}}
                </div>
              </td>
              <td>{{store.created_at | date : dateTimeFormal}} </td>
              <td>{{store.updated_at | date : dateTimeFormal}}</td>
              <td nowrap>
                <button type="button" *ngIf="!store.InEdit" class="mr-2 btn btn-sm btn-secondary"
                  (click)="EditStore(store, true)"><i class="fas fa-edit"></i></button>
                <button type="button" *ngIf="store.InEdit" class="mr-2 btn btn-sm btn-success"
                  (click)="SaveStore(store)"><i class="fas fa-save"></i></button>
                <button type="button" *ngIf="store.InEdit" class="mr-2 btn btn-sm btn-info"
                  (click)="EditStore(store, false)"><i class="fas fa-undo"></i></button>
                <button type="button" *ngIf="!store.InEdit" class="mr-2 btn btn-sm btn-danger"
                  (click)="DeleteStore(store)"><i class="fas fa-trash-alt"></i></button>
              </td>
            </tr>
          </tbody>
        </table>
      </div>

      <div *ngIf="!loading && stores!.length == 0" class="alert alert-danger alert-dismissible">
        No data.
      </div>



      <!--categories-->

      <div class="d-flex justify-content-between flex-wrap flex-md-nowrap align-items-center pt-3 pb-2 mb-3">
        <h2>Categories</h2>
        <div class="btn-toolbar mb-2 mb-md-0">
          <div class="btn-group mr-2">
            <button class="btn btn-sm btn-primary" (click)="NewCategory()"><i class="fa fa-plus" aria-hidden="true"></i>
              New</button>
          </div>
        </div>
      </div>

      <div class="row">
        <div class="col-md-6 col-lg-3" *ngFor="let categ of categories!">
          <div class="card">
            <div class="card-body">
              <h5 class="card-title">
                <ng-container *ngIf="!categ.InEdit">
                  {{categ.name}}
                </ng-container>

                <input class="form-control" *ngIf="categ.InEdit" name="name" [(ngModel)]="categ.name" (keyup.enter)="SaveCategory(categ)"
                  (keyup.escape)="EditCategory(categ, false)" />

                <div *ngIf="categ.InEdit && errorObj && errorObj.DetailedMessages && errorObj.DetailedMessages['name']"
                  class="alert alert-danger m-0 p-2">
                  {{errorObj.DetailedMessages['name']}}
                </div>
              </h5>
              <p class="card-text" *ngIf="categ!.id>0">
                Created: {{categ.created_at | date : dateTimeFormal}}<br />
                Updated: {{categ.updated_at | date : dateTimeFormal}}
              </p>

              <button type="button" *ngIf="!categ.InEdit" class="mr-2 btn btn-sm btn-secondary"
                (click)="EditCategory(categ, true)"><i class="fas fa-edit"></i></button>
              <button type="button" *ngIf="categ.InEdit" class="mr-2 btn btn-sm btn-success"
                (click)="SaveCategory(categ)"><i class="fas fa-save"></i></button>
              <button type="button" *ngIf="categ.InEdit" class="mr-2 btn btn-sm btn-info"
                (click)="EditCategory(categ, false)"><i class="fas fa-undo"></i></button>
              <button type="button" *ngIf="!categ.InEdit" class="mr-2 btn btn-sm btn-danger"
                (click)="DeleteCategory(categ)"><i class="fas fa-trash-alt"></i></button>
            </div>
          </div>
        </div>
      </div>

      <div *ngIf="!loading && categories!.length == 0" class="alert alert-danger alert-dismissible">
        No data.
      </div>
    </main>
  </div>
</div>

<div *ngIf="loading" class="loader-container">
  <div class="row d-flex justify-content-center mt-3">
    <mat-spinner></mat-spinner>
  </div>
</div>