<header class="navbar navbar-dark sticky-top bg-dark flex-md-nowrap p-0 shadow">
  <a class="navbar-brand col-md-3 col-lg-2 me-0 px-3" href="#">Price Monitor Admin</a>
  <button class="navbar-toggler position-absolute d-md-none collapsed" type="button" data-bs-toggle="collapse"
    data-bs-target="#sidebarMenu" aria-controls="sidebarMenu" aria-expanded="false" aria-label="Toggle navigation">
    <span class="navbar-toggler-icon"></span>
  </button>
  <input class="form-control form-control-dark w-100" type="text" placeholder="Search" aria-label="Search">
  <ul class="navbar-nav px-3">
    <li class="nav-item text-nowrap">
      <a class="nav-link" href="#" (click)="DoLogout()">Sign out</a>
    </li>
  </ul>
</header>

<div class="container-fluid">
  <div class="row">
    <app-menu></app-menu>

    <main class="col-md-9 ms-sm-auto col-lg-10 px-md-4">
      <div class="d-flex justify-content-between flex-wrap flex-md-nowrap align-items-center pt-3 pb-2 mb-3">
        <h2>Stores</h2>
        <div class="btn-toolbar mb-2 mb-md-0">
          <div class="btn-group mr-2">
            <button class="btn btn-sm btn-primary" (click)="NewStore()"><i class="fa fa-plus" aria-hidden="true"></i>
              New</button>
          </div>
        </div>
      </div>

      <div *ngIf="errorObj && errorObj.GlobalMessage" class="alert alert-danger alert-dismissible">
        <a href="#" class="close" data-dismiss="alert" aria-label="close">&times;</a>
        {{errorObj.GlobalMessage}}
      </div>

      <div class="table-responsive">
        <table class="table table-striped table-sm">
          <thead>
            <tr>
              <th>#</th>
              <th>Name</th>
              <th>Created</th>
              <th>Updated</th>
              <th>Actions</th>
            </tr>
          </thead>
          <tbody *ngIf="stores!.length > 0">
            <tr *ngFor="let store of stores">
              <td>{{store.id}}</td>
              <td>
                <ng-container *ngIf="!store.InEdit">
                  {{store.name}}
                </ng-container>

                <input *ngIf="store.InEdit" name="name" 
                [(ngModel)]="store.name" 
                (keyup.enter)="DoSave(store)" (keyup.escape)="EditStore(store, false)"/>

                <div *ngIf="store.InEdit && errorObj && errorObj.DetailedMessages && errorObj.DetailedMessages['name']"
                  class="alert alert-danger m-0 p-2">
                  {{errorObj.DetailedMessages['name']}}
                </div>
              </td>
              <td>{{store.created_at | date : dateTimeFormal}} </td>
              <td>{{store.updated_at | date : dateTimeFormal}}</td>
              <td>
                <button type="button" *ngIf="!store.InEdit" class="mr-2 btn btn-sm btn-secondary"
                  (click)="EditStore(store, true)"><i class="fas fa-edit"></i></button>
                <button type="button" *ngIf="store.InEdit" class="mr-2 btn btn-sm btn-success"
                  (click)="DoSave(store)"><i class="fas fa-save"></i></button>
                <button type="button" *ngIf="store.InEdit" class="mr-2 btn btn-sm btn-info"
                  (click)="EditStore(store, false)"><i class="fas fa-undo"></i></button>
                <button type="button" *ngIf="!store.InEdit" class="mr-2 btn btn-sm btn-danger"
                  (click)="DeleteStore(store)"><i class="fas fa-trash-alt"></i></button>
              </td>
            </tr>
          </tbody>
        </table>
      </div>

      <div *ngIf="!loading && !errorObj && stores!.length == 0" class="alert alert-danger alert-dismissible">
        No data.
      </div>
    </main>
  </div>
</div>

<div *ngIf="loading" class="loader-container">
  <div class="row d-flex justify-content-center mt-3">
    <mat-spinner></mat-spinner>
  </div>
</div>