<nav class="d-md-block sidebar collapse {{expanded?'show':''}}">
  <div class="position-sticky pt-3">
    <ul class="nav flex-column">
      <li class="nav-item">
        <a class="nav-link" aria-current="page" routerLink="/dashboard">
          <i class="fas fa-home"></i>
          Dashboard
        </a>
      </li>
      <li class="nav-item">
        <a class="nav-link" aria-current="page" routerLink="/products">
          <i class="fab fa-product-hunt"></i>
          Products
        </a>
      </li>
      <li class="nav-item">
        <a class="nav-link" aria-current="page" routerLink="/prices">
          <i class="fas fa-tags"></i>
          Prices
        </a>
      </li>
      <li class="nav-item">
        <a class="nav-link" aria-current="page" routerLink="/statistics">
          <i class="fas fa-chart-line"></i>
          Statistics
        </a>
      </li>
      <li class="nav-item">
        <a class="nav-link" aria-current="page" routerLink="/users">
          <i class="fas fa-users"></i>
          Users
        </a>
      </li>
    </ul>

  </div>
</nav>