<app-header (onMenuExpanded) = onMenuExpanded($event)></app-header>

<div class="container-fluid">
  <div class="row">
    <app-menu [expanded] = "menuExpanded"></app-menu>

    <main class="col-md-9 ms-sm-auto col-lg-10 px-md-4">

      <!--Users-->

      <div class="d-flex justify-content-between flex-wrap flex-md-nowrap align-items-center pt-3 pb-2 mb-3">
        <h2>Users</h2>
        <div class="btn-toolbar mb-2 mb-md-0">
          <div class="btn-group mr-2">
            <button class="btn btn-sm btn-primary" (click)="NewUser()"><i class="fa fa-plus" aria-hidden="true"></i>
              New</button>
          </div>
        </div>
      </div>

      <div class="row">
        <form class="col-12" action="#" method="post" role="form" #f="ngForm" (ngSubmit)="DoFilter(f)">
          <div class="row mb-3">
            <div class="col-md-6 col-lg-3">
              <input type="text" class="form-control" placeholder="Name" name="name" [(ngModel)]="searchRequest.name">
            </div>
          </div>

          <div class="mb-3">
            <button class="btn btn btn-primary" type="submit"><i class="fas fa-filter"></i> Filter</button>

            <button class="btn btn btn-secondary ml-2" (click)="ResetFilters()"><i class="fas fa-undo"></i>
              Reset</button>
          </div>
        </form>
      </div>

      <div *ngIf="errorObj && errorObj.GlobalMessage" class="alert alert-danger alert-dismissible">
        <a href="#" class="close" data-dismiss="alert" aria-label="close">&times;</a>
        {{errorObj.GlobalMessage}}
      </div>

      <div class="table-responsive">
        <table class="table table-striped table-sm">
          <thead>
            <tr>
              <th class="d-none d-sm-none d-md-table-cell">
                <a (click)="OrderBy('id')" class="hand">
                  #
                  <i *ngIf="searchRequest?.order_by == 'id' && searchRequest?.order_by_dir == 'DESC'"
                    class="fas fa-sort-amount-down"></i>
                  <i *ngIf="searchRequest?.order_by == 'id' && searchRequest?.order_by_dir == 'ASC'"
                    class="fas fa-sort-amount-up"></i>
                </a>
              </th>
              <th>
                <a (click)="OrderBy('name')" class="hand">
                  Name
                  <i *ngIf="searchRequest?.order_by == 'name' && searchRequest?.order_by_dir == 'DESC'"
                    class="fas fa-sort-amount-down"></i>
                  <i *ngIf="searchRequest?.order_by == 'name' && searchRequest?.order_by_dir == 'ASC'"
                    class="fas fa-sort-amount-up"></i>
                </a>
              </th>
              <th>
                <a (click)="OrderBy('username')" class="hand">
                  Username
                  <i *ngIf="searchRequest?.order_by == 'username' && searchRequest?.order_by_dir == 'DESC'"
                    class="fas fa-sort-amount-down"></i>
                  <i *ngIf="searchRequest?.order_by == 'username' && searchRequest?.order_by_dir == 'ASC'"
                    class="fas fa-sort-amount-up"></i>
                </a>
              </th>
              <th>
                Password
              </th>
              <th class="d-none d-sm-none d-md-table-cell">
                <a (click)="OrderBy('created_at')" class="hand">
                  Created
                  <i *ngIf="searchRequest?.order_by == 'created_at' && searchRequest?.order_by_dir == 'DESC'"
                    class="fas fa-sort-amount-down"></i>
                  <i *ngIf="searchRequest?.order_by == 'created_at' && searchRequest?.order_by_dir == 'ASC'"
                    class="fas fa-sort-amount-up"></i>
                </a>
              </th>
              <th class="d-none d-sm-none d-md-table-cell">
                <a (click)="OrderBy('updated_at')" class="hand">
                  Updated
                  <i *ngIf="searchRequest?.order_by == 'updated_at' && searchRequest?.order_by_dir == 'DESC'"
                    class="fas fa-sort-amount-down"></i>
                  <i *ngIf="searchRequest?.order_by == 'updated_at' && searchRequest?.order_by_dir == 'ASC'"
                    class="fas fa-sort-amount-up"></i>
                </a>
              </th>
              <th nowrap>Actions</th>
            </tr>
          </thead>
          <tbody *ngIf="searchResponse && searchResponse?.results!.length > 0">
            <tr *ngFor="let user of searchResponse?.results">
              <td class="d-none d-sm-none d-md-table-cell">{{user.id}}</td>
              <td>
                <ng-container *ngIf="!user.InEdit">
                  {{user.name}}
                </ng-container>

                <input class="form-control" *ngIf="user.InEdit" name="name" [(ngModel)]="user.name"
                  (keyup.enter)="SaveUser(user)" (keyup.escape)="EditUser(user, false)" />

                <div
                  *ngIf="user.InEdit && errorObj && errorObj.DetailedMessages && errorObj.DetailedMessages['name']"
                  class="alert alert-danger m-0 p-2">
                  {{errorObj.DetailedMessages['name']}}
                </div>
              </td>
              <td>
                <ng-container *ngIf="!user.InEdit">
                  {{user.username}}
                </ng-container>

                <input class="form-control" *ngIf="user.InEdit" name="username" [(ngModel)]="user.username"
                  (keyup.enter)="SaveUser(user)" (keyup.escape)="EditUser(user, false)" />

                <div
                  *ngIf="user.InEdit && errorObj && errorObj.DetailedMessages && errorObj.DetailedMessages['username']"
                  class="alert alert-danger m-0 p-2">
                  {{errorObj.DetailedMessages['username']}}
                </div>
              </td>
              <td>
                <ng-container *ngIf="!user.InEdit">
                  ***
                </ng-container>

                <input type="password" class="form-control" *ngIf="user.InEdit" name="Password" [(ngModel)]="user.password"
                  (keyup.enter)="SaveUser(user)" (keyup.escape)="EditUser(user, false)" />

                <div
                  *ngIf="user.InEdit && errorObj && errorObj.DetailedMessages && errorObj.DetailedMessages['password']"
                  class="alert alert-danger m-0 p-2">
                  {{errorObj.DetailedMessages['password']}}
                </div>
              </td>
              <td class="d-none d-sm-none d-md-table-cell">{{user.created_at | date : dateTimeFormal}} </td>
              <td class="d-none d-sm-none d-md-table-cell">{{user.updated_at | date : dateTimeFormal}}</td>
              <td nowrap>
                <button type="button" *ngIf="!user.InEdit" class="mr-2 btn btn-sm btn-secondary"
                  (click)="EditUser(user, true)"><i class="fas fa-edit"></i></button>
                <button type="button" *ngIf="user.InEdit" class="mr-2 btn btn-sm btn-success"
                  (click)="SaveUser(user)"><i class="fas fa-save"></i></button>
                <button type="button" *ngIf="user.InEdit" class="mr-2 btn btn-sm btn-info"
                  (click)="EditUser(user, false)"><i class="fas fa-undo"></i></button>
                <button type="button" *ngIf="!user.InEdit" class="mr-2 btn btn-sm btn-danger"
                  (click)="DeleteUser(user)"><i class="fas fa-trash-alt"></i></button>
              </td>
            </tr>
          </tbody>
        </table>
      </div>

      <div *ngIf="!loading && searchResponse && searchResponse.count == 0" class="alert alert-danger alert-dismissible">
        No data.
      </div>

      <div class="row" *ngIf="searchResponse">
        <div class="col-xs-12 col-12">
          <pagination [boundaryLinks]="true" previousText="&lsaquo;" nextText="&rsaquo;" firstText="&laquo;"
            lastText="&raquo;" [totalItems]="searchResponse.count" [ngModel]="currentPage"
            [itemsPerPage]="searchResponse.page_size" [rotate]="true" (pageChanged)="setPage($event)"></pagination>
        </div>
      </div>

    </main>
  </div>
</div>

<div *ngIf="loading" class="loader-container">
  <div class="row d-flex justify-content-center mt-3">
    <mat-spinner></mat-spinner>
  </div>
</div>