<app-header (onMenuExpanded)=onMenuExpanded($event)></app-header>

<div class="container-fluid">
  <div class="row">
    <app-menu [expanded]="menuExpanded"></app-menu>

    <main class="col-md-9 ms-sm-auto col-lg-10 px-md-4">

      <div class="d-flex justify-content-between flex-wrap flex-md-nowrap align-items-center pt-3 pb-2 mb-3">
        <h2>Statics</h2>
      </div>

      <div class="row">
        <form class="col-12" action="#" method="post" role="form" #f="ngForm" (ngSubmit)="DoFilter(f)">
          <div class="row mb-3">
            <div class="col-md-6 col-lg-3">
              <h2>Date Range</h2>
              <div class="form-group">
                <div class="input-group">
                  <input class="form-control" placeholder="yyyy-mm-dd" name="StartDate"
                    [(ngModel)]="statisticsRequest.StartDate">
                </div>
              </div>
              <div class="form-group">
                <div class="input-group">
                  <input class="form-control" placeholder="yyyy-mm-dd" name="EndDate"
                    [(ngModel)]="statisticsRequest.EndDate">
                </div>
              </div>

              <h2>Groupping Type</h2>
              <div class="form-group">
                <div class="input-group">
                  <select class="form-control" [(ngModel)]="statisticsRequest.GrouppingType" name="GrouppingType">
                    <option value="day" selected>Daily</option>
                    <option value="month">Monthly</option>
                    <option value="none">Total</option>
                  </select>
                </div>
              </div>
            </div>

            <div class="col-md-6 col-lg-5">
              <h2>Products</h2>

              <input type="text" class="form-control" (selectItem)="selectProduct($event)"
                [ngbTypeahead]="SearchProduct" [inputFormatter]="productFormatter" [resultFormatter]="productFormatter"
                [editable]='false' />

              <hr *ngIf="products && products.length > 0" />

              <ul class="custom-list" *ngIf="products && products.length > 0">
                <li class="custom-list-item" *ngFor="let p of products">
                  <button (click)="removeProduct(p)" type="button" class="btn btn-outline-danger btn-sm"><i
                      class="fas fa-trash"></i></button>

                  {{p.name}}
                </li>
              </ul>
            </div>

            <div class="col-md-6 col-lg-4">
              <h2>Stores</h2>

              <ul class="custom-list" *ngIf="stores && stores.length > 0">
                <li class="custom-list-item" *ngFor="let s of stores">
                  <label class="ml-2 pt-0 pb-0">
                    <input class="form-check-input me-1" (change)="toggleStore($event, s)" type="checkbox"
                      value="{{s.id}}">
                    {{s.name}}
                  </label>
                </li>
              </ul>
            </div>
          </div>

          <div class="mb-3">
            <button class="btn btn btn-primary" type="submit"><i class="fas fa-filter"></i> Filter</button>

          </div>

        </form>
      </div>

      <div *ngIf="errorObj && errorObj.GlobalMessage" class="alert alert-danger alert-dismissible">
        <a href="#" class="close" data-dismiss="alert" aria-label="close">&times;</a>
        {{errorObj.GlobalMessage}}
      </div>

      <div class="d-flex justify-content-between flex-wrap flex-md-nowrap align-items-center pt-3 pb-2 mb-3">

        <ngx-charts-line-chart *ngIf="statisticsRequest && statisticsRequest.GrouppingType != 'none'" 
          [results]="multi"
          [gradient]="gradient" [xAxis]="showXAxis" [yAxis]="showYAxis" [legend]="showLegend"
          [showXAxisLabel]="showXAxisLabel" [showYAxisLabel]="showYAxisLabel" [xAxisLabel]="xAxisLabel"
          [yAxisLabel]="yAxisLabel" [timeline]="true">
        </ngx-charts-line-chart>

        <ngx-charts-pie-chart *ngIf="multi && statisticsRequest && statisticsRequest.GrouppingType == 'none'" 
          [results]="multi[0].series" [legend]="showLegend">
        </ngx-charts-pie-chart>
      </div>

    </main>
  </div>
</div>

<div *ngIf="loading" class="loader-container">
  <div class="row d-flex justify-content-center mt-3">
    <mat-spinner></mat-spinner>
  </div>
</div>